/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/05/2021, 10:46:55 PM
    Author     : monic
*/


html{
    background: #dbdcbd;
  
  }
  .error{
    align-items: center;
  
    background:  #a4d7b8;
    padding: 40px 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
  text-align: center;
  }
  
  button{
      
  font-family:Century Gothic;
  font-size: 50px;
  background: #fedcb9;
  border: none;
  height: 80px;
width: 20%;
  }
  img{
      margin-left: 380px;
  }