/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  
    Created on : 4/10/2020, 02:38:56 PM
    Author     : magoc
*/



.logo{
   
    height: 550px;
    width: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
    padding-top: 20px;
    position:absolute
}
body{
    background: #dbdcbd;
    display:flex;
    height: 650px;
    justify-content: center;
    align-items: center;
  margin-right: 120px;
}
/*-----------------NAVEGADOR-------------------*/
nav{
    background:  #a4d7b8;
    top: 0;
    right: 0;
    position: fixed;
    width:100%;
    height: 100px;
    z-index: 100;
}

#search{
    margin-top: 20px;
      position: absolute;
      background: white;
      font-size: 15px;
     width: 40%;
     height: 20px;
     margin-left: 100px;
    top:20px
 
}
label{
 
    font-size:16px;
    color:silver; 
    position: absolute;
    bottom:0;/*Letras adentro del TextBox*/
    left:280px;
  margin-bottom: 35px;
    transition: 0.5s ease-in-out;
    pointer-events: none;/*Evento del mouse*/
}
nav input:focus~label,
nav input:valid~label{ /*Cuando ya este escrito algo en el textbox*/
    top: 15px;/*Letras se mueven afuera del textbox*/
    color:white;

}
nav button{
  
  font-family:Century Gothic;
  background: #fedcb9;
  border: none;
  height: 40px;
  margin: 30px 20px;

}
select{
  font-family:Century Gothic;
  background: #fedcb9;
  border: none;

  margin: 10px 10px;
  height: 40px;
}

.botones{
  position: absolute;
  margin-left: 650px;
}
h1{
    font-family: Palatino Linotype;
    text-align: center;
    font-weight: 700;
    color:#8b5380;
}
/*-----------------FORMS-------------------*/
form{
  margin-top: 100px;
    background:  #a4d7b8;
    padding: 40px 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
   margin-left: 132px;
}

.form{
    width: 100%;
    margin: auto;
}
form .grupo{
    position: relative;
    margin: 45px;
}
#nombre{
    background: white;
    font-size: 15px;
    padding: 5px 15px 10px 5px;
    display: block;
    width: 100%;
    border: none;
   
}
#contra{
    background: white;
    font-size: 15px;
    padding: 5px 15px 10px 5px;
    display: block;
    width: 100%;
    border: none;
   
}

form label{
    font-size:16px;
    color:silver; 
   position: absolute;
    bottom:0;/*Letras adentro del TextBox*/
    left:5px;
    top:5px;
    transition: 0.5s ease-in-out;
    pointer-events: none;/*Evento del mouse*/
}
input:focus~label,
input:valid~label{ /*Cuando ya este escrito algo en el textbox*/
    top:-30px;/*Letras se mueven afuera del textbox*/
    color:white;

}
#Entrar{
    font-family:Century Gothic;
    background: #fedcb9;
    border: none;
    display:block;
    width:50%;
    margin: 10px auto;
    height: 40px;
}
.logoFORMS{
margin-bottom: 300px;
margin-left: 140px;
position: absolute;
}
/*-----------------FOOTER-------------------*/
footer {

    height:20px;
    line-height:50px;
    background: #ff959f;
  margin-top: 500px;
    text-align:center;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
   
}
.contenedor-footer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
    padding-bottom: 2px;
    border-bottom: 1px solid #ccc;
    background: #ff959f;
    text-align:center;
}
