/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/05/2021, 09:29:08 AM
    Author     : monic
*/

body{
  background: #dbdcbd;

}
.logo{

  position:absolute;
  
}
nav {
  background:  #a4d7b8;
  top: 0;
  right: 0;
  position: fixed;
  width:100%;
  height: 100px;
  z-index: 100;
  grid-area: head;
  display: flex;
}
nav input{
  margin-top: 20px;
  position: absolute;
  background: white;
  font-size: 15px;
 width: 40%;
 height: 20px;
 margin-left: 100px;
top:20px
 
}
nav label{
   
  font-size:16px;
  color:silver; 
  position: absolute;
  bottom:0;/*Letras adentro del TextBox*/
  left:280px;
margin-bottom: 35px;
  transition: 0.5s ease-in-out;
  pointer-events: none;/*Evento del mouse*/
}
nav label{
  font-family:century;
  font-size:16px;
  color:silver; 
  position: absolute;
  bottom:0;/*Letras adentro del TextBox*/
  left:280px;
margin-bottom: 40px;
  transition: 0.5s ease-in-out;
  pointer-events: none;/*Evento del mouse*/
}
input:focus~label,
input:valid~label{ /*Cuando ya este escrito algo en el textbox*/
  top: 15px;/*Letras se mueven afuera del textbox*/
  color:white;

}
button{

font-family:Century Gothic;
background: #fedcb9;
border: none;
font-family: century Gothic;
margin: 30px 10px;
height: 40px;
}
nav select{
font-family:Century Gothic;
background: #fedcb9;
border: none;

margin: 10px 10px;
height: 40px;
}

.botones{
position: absolute;
margin-left: 650px;
}
/*-------USUARIO------------*/
.usuario{
  height: 200px;
  width: 200px;

  background-color: white;
  
  position: absolute;
  margin-left: 50px;

  align-self: center;
}
.usuario img{
  position: absolute;

}
.usuario input{
  margin-top: 230px;
  text-align: center;
  width: 100%;
  margin-left: 0px;
}
.usuario button{
  position: absolute;
  margin-left: 65px;
 
  font-family: century Gothic;
}
.Cartas{
  margin-left: 300px;
margin-top: 150px;

}
.card-body{
  background: #715760;
}
.Cartas .card-img-top{
  margin: 10px;

  margin-left: 280px;
  position: relative;
}
.Cartas p, .Cartas h5{
color: white;
margin-left: 10px;
font-family: century Gothic;
}
.Cartas i{
  margin-left: 10px;
}
i:hover{
  color: #a4d7b8;
}

.Preguntas{
  background-color: aqua;
 
}
form{
  background: #715760;
  width: 50%;
  margin-left: 300px;
}
   