/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/05/2021, 09:29:08 AM
    Author     : monic
*/

body{
  background: #dbdcbd;

}
.logo{

  position:absolute;
  
}
nav {
  background:  #a4d7b8;
  top: 0;
  right: 0;
  position: fixed;
  width:100%;
  height: 100px;
  z-index: 100;
  grid-area: head;
  display: flex;
}
nav  input{
  margin-top: 20px;
  position: absolute;
  background: white;
  font-size: 15px;
 width: 40%;
 height: 20px;
 margin-left: 100px;
top:20px
 
}
nav label{
   
  font-size:16px;
  color:silver; 
  position: absolute;
  bottom:0;/*Letras adentro del TextBox*/
  left:280px;
margin-bottom: 40px;
  transition: 0.5s ease-in-out;
  pointer-events: none;/*Evento del mouse*/
}

#Nav input:focus~label,
#Nav input:valid~label{ /*Cuando ya este escrito algo en el textbox*/
  top: 15px;/*Letras se mueven afuera del textbox*/
  color:white;

}
button{

font-family:Century Gothic;
background: #fedcb9;
border: none;
font-family: century Gothic;
margin: 30px 10px;
height: 40px;
}
nav select{
font-family:Century Gothic;
background: #fedcb9;
border: none;

margin: 10px 10px;
height: 40px;
}

.botones{
position: absolute;
margin-left: 650px;
}
#BTN_CerrarSession{
  position: absolute;
  top: 0px;
  left: 320px;
  width: 50%;
  
  text-align: left;
}

/*-------USUARIO------------*/
.usuario{
  height: 200px;
  width: 200px;  
  position: absolute;
  margin-left: 50px;

  align-self: center;
}
.usuario img{
  position: absolute;

}
.usuario input{
  margin-top: 230px;
  text-align: center;
  width: 100%;
  margin-left: 0px;
}
.usuario button{
  position: absolute;
  margin-left: 65px;
 
  font-family: century Gothic;
}
.Cartas{
  margin-left: 300px;
margin-top: 150px;

}
.card-body{
  background: #715760;
}
.Cartas .card-img-top{
  margin: 10px;

  margin-left: 280px;
  position: relative;
}
.Cartas p, .Cartas h5{
color: white;
margin-left: 10px;
font-family: century Gothic;
}
.Cartas i{
  margin-left: 10px;
}
i:hover{
  color: #a4d7b8;
}


#form{
  background: #715760;
  width: 50%;
  margin-left: 300px;
}
   
h1,h4{
  font-family: Palatino Linotype;
  text-align: center;
  font-weight: 700;
  color: white;
 
  align-items: center;
}

#publicar{
    margin-left: 600px;
}
.RespuestaC{
 
  box-shadow: 0px 0px 6px 6px rgba(31, 255, 117, 0.8);
}

.RespuestaC h1{
  margin-left: 850px;
}
/*------------PAGINACIÓN-------------------*/
.paginacion {
	margin:20px 0;
      
        margin-left: 530px;
}

#paginacion {
	list-style:none;
	text-align: center;
}

#paginacion  {
	display:inline-block;
	margin-right:10px;
        
}

#paginacion  {
	display:block;
	padding:10px 20px;
	color:#fff;
	background:#ff959f;
	text-decoration: none;
}

#paginacion :hover {
	background:#ffc1c7;
}


/*------------FOOTER-------------------*/
footer{

width:100%;
background-color: #ff959f;
text-align: center;

height: 80px;

}

